PORT=3000
HTTPS_PORT=443
REDIS_URL=redis://localhost:6379
BTC_NODE_ADDR=tcp://127.0.0.1:3600
NOIS_PUBLIC_ENDPOINT=https://rpc.cosmos.directory/nois
NOIS_DRAND_ADDRESS=nois19w26q6n44xqepduudfz2xls4pc5lltpn6rxu34g0jshxu3rdujzsj7dgu8
BTC_BASE_URI_MAINNET=https://mempool.space/api
BTC_BASE_URI_TESTNET=https://mempool.space/testnet/api

DATA_JSON_PATH=data.json

# ordinal stuff
MINT_PRICE=90000
PUBLISHER_ADDR=btc1
PUBLISHER_MNEMONIC=
COLLECTION_ID=atwy6543:0
INSCRIPTION_ID=cits
NETOWRK=testnet
